<div class = 'card p-2'>
<li>
  <p> <%= comment.body %> </p>

  <%= simple_form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %>
      <%= f.submit "Reply", class: 'btn btn-primary'  %>
      <% end %>
  <ul>
      <%= render comment.comments %>
  </ul>

</li>
</div>
