<div class="row mb-4">
  <div class="col-sm-8">
    <h3> <%= @community.name %> </h3>
  </div>
  <div class="col-sm-4">
    <% if @community.user_subscribed(current_user) %>
        <%= link_to "Cria um novo Post", new_community_post_path(@community), class: "btn btn-primary float-right"%>
    <% else %>
        <%= render partial: "communities/subscribe" %>
    <% end %>
  </div>
</div>
  <%#= Aqui é preciso iterar todos os posts %>
  <div class="row mt-3">
    <div class="col-sm-8">
        <%= render partial: "posts/list" %>
    </div>

    <div class="col-sm-4">
        <div class="card p-3">
          <p class = 'h5'>Acerca desta Comunidade</p>
          <p class = mt-2> <small><%= @community.description  %></small> </p>
          <p> <%= pluralize @subscriber_count, "Membro" %> </p>
        </div>
        <p> <%= @community.rules  %></p>
    </div>
  </div>

